# .gitignore
bin/
obj/
.vscode/
*.user
*.suo
*.tmp
*.dbmdl
*.jfm
*.pdb
*.idb
*.sdf
*.opensdf
*.VC.db
*.ide
*.dll
*.exe
*.log
*.config
*.deploy
[Tt]est[Rr]esult*/
[Ll]og/
[Ll]ogs/
[Ll]ibrary/
[Ll]ibraries/
*.pidb
*.svclog
*.vspscc
*.vssscc
.vs2017
.vs2019